@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

.table-name_input {
  padding-left: 8px;
  color: #212529;
  background-color: #e0dfdf;
  background-clip: padding-box;
  border: 1px solid black;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

body {
  background-color: darkslategray;
}
body .container {
  width: 700px;
  margin: auto;
  display: block;
  background-color: gray;
}
body .container .work-with-sqlite {
  height: 100px;
  background-color: chocolate;
}
body .container .work-with-sqlite .panel-create-table {
  height: 50px;
  background-color: forestgreen;
  border: 3px solid black;
}
body .container .work-with-sqlite .panel-delete-table {
  height: 50px;
  background-color: #3a3afd;
  border: 3px solid black;
}
body .container .shopping-panel {
  background-color: chocolate;
}
body .container .shopping-panel .shopping-input-panel {
  background-color: #c90303;
  display: inline-block;
  border: 3px solid black;
}
body .container .shopping-panel .shopping-input-panel .buy-list-form {
  margin: 10px;
}
body .container .shopping-panel .income-input-panel {
  background-color: green;
  display: inline-block;
  border: 3px solid black;
}
body .container .shopping-panel .income-input-panel .buy-list-form {
  margin: 10px;
}
body .container .statistics-panel {
  background-color: orangered;
}
body .container .statistics-panel .amount-per-month-output {
  border: 3px solid black;
}
body .container .statistics-panel .amount-per-month-output .statistics-per-month-form {
  margin: 10px;
}
body .container .statistics-panel .amount-per-month-output .acor-container {
  margin: 20px 0;
}
body .container .statistics-panel .amount-per-month-output .acor-container .acor-body {
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 0;
  color: rgba(0, 0, 0, 0);
  background-color: #BFE2FF;
  line-height: 18px;
  padding: 0 30px;
  box-sizing: border-box;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 10px 16px rgba(0, 0, 0, 0.2);
}
body .container .statistics-panel .amount-per-month-output .acor-container .acor-body p {
  margin: 0 0 10px;
}
body .container .statistics-panel .amount-per-month-output .acor-container label {
  cursor: pointer;
  background-color: #337AB7;
  display: block;
  padding: 15px 20px;
  width: 100%;
  color: #BFE2FF;
  font-weight: 300;
  box-sizing: border-box;
  z-index: 100;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  margin: 0 0 5px;
  transition: color 0.35s;
}
body .container .statistics-panel .amount-per-month-output .acor-container label:hover {
  color: #FFF;
}
body .container .statistics-panel .amount-per-month-output .acor-container input {
  display: none;
}
body .container .statistics-panel .amount-per-month-output .acor-container label:before {
  content: "❯";
  float: right;
}
body .container .statistics-panel .amount-per-month-output .acor-container input:checked + label {
  background-color: #285f8f;
  color: #FFF;
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}
body .container .statistics-panel .amount-per-month-output .acor-container input:checked + label:before {
  transition: transform 0.35s;
  transform: rotate(90deg);
}
body .container .statistics-panel .amount-per-month-output .acor-container input:checked + label + .acor-body {
  height: auto;
  margin-top: -5px;
  color: #000;
  padding: 20px 30px 10px;
}

/*# sourceMappingURL=style.css.map */
