@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

.table-name_input {
  padding-left: 8px;
  color: #212529;
  background-color: #e0dfdf;
  background-clip: padding-box;
  border: 1px solid black;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

body {
  background-color: darkslategray;
}
body .container {
  width: 700px;
  margin: auto;
  display: block;
  background-color: #3a3939;
}
body .container .button-add-delete-panel {
  text-align: center;
  border: 3px solid black;
}
body .container .button-add-delete-panel .delete-button {
  display: inline-block;
  vertical-align: middle;
  margin: 40px;
  width: 100px;
  height: 100px;
  background-color: #3a3939;
  cursor: pointer;
  border-radius: 50%;
  border: 6px solid red;
}
body .container .button-add-delete-panel .delete-button .minus {
  margin-left: -9px;
  margin-top: -38px;
  position: absolute;
  font-size: 60px;
  color: red;
}
body .container .button-add-delete-panel .delete-button .minus:hover {
  color: orangered;
}
body .container .button-add-delete-panel .delete-button:hover {
  border: 6px solid orangered;
}
body .container .button-add-delete-panel .delete-button-show {
  display: inline-block;
  vertical-align: middle;
  margin: 40px;
  width: 100px;
  height: 100px;
  background-color: #3a3939;
  cursor: pointer;
  border-radius: 50%;
  border: 6px solid red;
}
body .container .button-add-delete-panel .delete-button-show .minus {
  margin-left: -9px;
  margin-top: -38px;
  position: absolute;
  font-size: 60px;
  color: red;
}
body .container .button-add-delete-panel .delete-button-show .minus:hover {
  color: orangered;
}
body .container .button-add-delete-panel .delete-button-show:hover {
  border: 6px solid orangered;
}
body .container .button-add-delete-panel .add-button {
  display: inline-block;
  vertical-align: middle;
  margin: 40px;
  width: 100px;
  height: 100px;
  background-color: #3a3939;
  cursor: pointer;
  border-radius: 50%;
  border: 6px solid green;
}
body .container .button-add-delete-panel .add-button .plus {
  margin-left: -16px;
  margin-top: -34px;
  position: absolute;
  font-size: 60px;
  color: green;
}
body .container .button-add-delete-panel .add-button .plus:hover {
  color: #01d501;
}
body .container .button-add-delete-panel .add-button:hover {
  border: 6px solid #01d501;
}
body .container .work-with-sqlite {
  height: 100px;
  background-color: #f57820;
}
body .container .work-with-sqlite .panel-create-table {
  height: 50px;
  background-color: forestgreen;
  border: 3px solid black;
}
body .container .work-with-sqlite .panel-delete-table {
  height: 50px;
  background-color: #3a3afd;
  border: 3px solid black;
}
body .container .main-panel {
  height: 300px;
}
body .container .main-panel .shopping-panel {
  text-align: center;
  height: 300px;
  background-color: chocolate;
}
body .container .main-panel .shopping-panel .shopping-input-panel {
  height: 100%;
  background-color: #c90303;
  display: inline-block;
  border: 3px solid black;
}
body .container .main-panel .shopping-panel .shopping-input-panel .buy-list-form {
  margin: 10px;
}
body .container .main-panel .shopping-panel .income-input-panel {
  background-color: green;
  display: inline-block;
  border: 3px solid black;
}
body .container .main-panel .shopping-panel .income-input-panel .buy-list-form {
  margin: 10px;
}
body .container .statistics-panel {
  display: none;
  background-color: orangered;
}
body .container .statistics-panel .amount-per-month-output {
  border: 3px solid black;
}
body .container .statistics-panel .amount-per-month-output .statistics-per-month-form {
  margin: 10px;
}
body .container .statistics-panel .amount-per-month-output .accordion-body .accordion {
  background-color: #eee;
  color: black;
  font-size: 15px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid black;
  outline: none;
  transition: 0.4s;
}
body .container .statistics-panel .amount-per-month-output .accordion-body .accordion:after {
  content: "➕";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
body .container .statistics-panel .amount-per-month-output .accordion-body .accordion:hover {
  background-color: #ccc;
}
body .container .statistics-panel .amount-per-month-output .accordion-body .active {
  background-color: #ccc;
}
body .container .statistics-panel .amount-per-month-output .accordion-body .active:after {
  content: "➖";
}
body .container .statistics-panel .amount-per-month-output .accordion-body .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
body .container .hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
