// нормализация стилей
*, *::before, *::after {
  box-sizing: border-box;
}

// стили для input
.table-name_input {
  padding-left: 8px;
  //font-family: inherit;
  color: #212529;
  background-color: #e0dfdf;
  background-clip: padding-box;
  border: 1px solid black;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

body {
  background-color: darkslategray;

  .container {
    //height: 700px;
    width: 700px;
    margin: auto;
    //display: block;
    //height: 500px;
    background-color: #3a3939;
    //background-color: blue;

    // настройки полосы прокрутки
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-track {
      //background-color: #ebebeb;
      background-color: #3a3939;
      //-webkit-border-radius: 10px;
      //border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
      //-webkit-border-radius: 10px;
      //border-radius: 10px;
      background: #6d6d6d;
    }

    .header {
      text-align: center;
      margin-bottom: 5px;

      .header-output{
        //background-color: forestgreen;

        .header-output-span {
          background-color: forestgreen;
          color: #d7d6d6;
          font-size: 30px;
          text-shadow: 1px 1px 2px black;
        }
      }
    }

    .aside {
      background-color: darkred;
      width: 120px;
      float: right;

      .aside-button-logout {
        width: 100px;
        height: 30px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
      }

      .aside-button-settings {
        width: 100px;
        height: 30px;
        margin: 15px 10px 10px;
      }
    }

    //панель работы с базой sqlite3
    .work-with-sqlite {
      height: 100px;
      background-color: #f57820;

      .panel-create-table {
        height: 50px;
        background-color: forestgreen;
        border: 3px solid black;
      }

      .panel-delete-table {
        height: 50px;
        background-color: #3a3afd;
        border: 3px solid black;
      }

      .panel-clear-expenses {
        height: 50px;
        background-color: orangered;
        border: 3px solid black;
      }
    }

    .main-panel {
      left: -20%;
      height: 400px;
      width: 460px;
      background-color: #fc4e4e;
      // центрирование блока внутри блока container
      margin: auto;
      //text-align: center;

      // панель ввода расходов
      .shopping-panel {
        text-align: center;
        height: 400px;
        //width: 400px;
        background-color: #f57820;

        .shopping-input-panel {
          text-align: left;
          height: 100%;
          width: 400px;
          //background-color: #3a3939;
          //background-color: blue;
          background-color: darkgreen;
          display: inline-block;
          border: 3px solid black;

          .shopping-input-panel-h3 {
            text-align: center;
            color: #d7d6d6;
          }

          .buy-list-form {
            //background-color: #01d501;
            margin: 10px;

          .add-new-expense-category {
            width: 200px;
            height: 200px;
            background-color: #fc4e4e;
            margin: 20px;

            //.add-new-category-button {
            //}
          }

            .buy-list-form-label {
              color: #d7d6d6;
            }
          }
        }
      }

      // панель ввода доходов
      .income-panel {
        text-align: center;
        height: 400px;
        background-color: darkolivegreen;
        //background: #3a3939;

        .income-input-panel {
          text-align: left;
          height: 100%;
          //width: 300px;
          width: 400px;
          //background-color: #c90303;
          background-color: green;
          display: inline-block;
          border: 3px solid black;

          .income-input-panel-h3 {
            text-align: center;
            color: #d7d6d6;
          }

          .income-list-form {
            margin: 10px;

            .income-list-form-label {
              color: #d7d6d6;
            }
          }
        }
      }

      .statistics-panel {
        text-align: center;
        height: 400px;
        //background: #3a3939;
        background-color: orangered;

        .amount-per-month-output {
          height: 100%;
          width: 400px;
          background-color: blueviolet;
          display: inline-block;
          text-align: left;
          border: 3px solid black;

          .statistics-panel-h3 {
            text-align: center;
            color: #d7d6d6;
          }

          .statistics-per-month-form {
            //text-align: center;
            margin: 10px;

            .statistics-form-label-span {
              color: #d7d6d6;
            }

            .statistics-form-button {
              margin-top: 5px;
              //margin-left: 40px;
            }
          }

          //панель аккордеон
          .accordion-body {
            height: 276px;
            // панель прокрутки скрыта пока высота
            // области не превысит высоту блока
            overflow-y:auto;

            .accordion-body-li {
              margin-top: 5px;
              margin-left: 40px;
              color: #d7d6d6;
              list-style-type: none;

              .accordion-body-li-span {
                padding: 5px;
                border: 1px solid black;
              }
            }

            .accordion {
              //background-color: #eee;
              background-color: #3a3939;
              color: #d7d6d6;
              font-size: 15px;
              cursor: pointer;
              //padding: 18px;
              padding: 5px;
              width: 100%;
              text-align: left;
              //border: none;
              border: 1px solid black;
              outline: none;
              transition: 0.4s;

              .accordion-span {
                color: #fc4e4e;
                margin-left: 10px;
                font-weight: bold;

                &::before {
                  content: '\02795     ';
                }
              }

              &:hover {
                background-color: #5e5e5e;
              }
            }

            .active {
              background-color: #3a3939;

              .accordion-span {
                color: #fc4e4e;

                // добавляет минус до элемента span
                &::before {
                  content: '\2796     ';
                }
              }
            }

            // стилизуем выпадающий блок данных
            .panel {
              //padding: 0 18px;
              padding: 0 40px;
              //background-color: white;
              background-color: #3a3939;
              display: none;
              overflow: hidden;
              border: 1px solid black;

              .accordion-p{
                // цвет текста выпадающего меню
                color: #d7d6d6;

                //// добавляет знак точки перед
                //&:before{
                //  content: '\2022  ';
                //}

                .accordion-p-span {
                  color: red;
                }
              }
            }
          }
        }
      }
    }

    .balance-panel {
      margin: 10px;
      text-align: center;

      .balance-panel-button {
        width: 300px;
        height: 50px;
        background-color: forestgreen;

        //animation-name: slideExpandUp;
        //animation-duration: 1s;
        //animation-timing-function: ease-out;
        //visibility: visible !important;
      }

      //@keyframes slideExpandUp {
      //  0% {
      //    transform: translateY(100%);
      //  }
      //  30% {
      //    transform: translateY(-8%);
      //  }
      //  40% {
      //    transform: translateY(2%);
      //  }
      //  50% {
      //    transform: translateY(0%);
      //  }
      //  60% {
      //    transform: translateY(0%);
      //  }
      //  70% {
      //    transform: translateY(0%);
      //  }
      //  80% {
      //    transform: translateY(0%);
      //  }
      //  90% {
      //    transform: translateY(0%);
      //  }
      //  100% {
      //    transform: translateY(0%);
      //  }
      //}
    }

    //панель кнопки удалить добавить
    .button-add-delete-panel {
      text-align: center;
      border: 3px solid black;

      //кнопка возврата панели расходов
      .delete-button-show {
        //position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 40px;
        width: 100px;
        height: 100px;
        background-color: #3a3939;
        cursor: pointer;
        border-radius: 50%;
        border: 6px solid red;
        //transition: box-shadow 0.3s ease-in-out;

        &:active {
          border-color: #f57820;

          .minus {
            color: #f57820;
          }
        }

        .minus {
          margin-left: -9px;
          margin-top: -38px;
          position: absolute;
          font-size: 60px;
          color: red;
        }

        //.minus:hover {
        //  //color: orangered;
        //}
      }

      .delete-button-show:hover {
        //border: 6px solid orangered;
        background-color: #4d4d4d;
      }

      // кнопка показывающая панель доходов
      .add-button {
        display: inline-block;
        vertical-align: middle;
        margin: 40px;
        width: 100px;
        height: 100px;
        background-color: #3a3939;
        cursor: pointer;
        border-radius: 50%;
        border: 6px solid green;

        &:active {
          border-color: #01d501;

          .plus {
            color: #01d501;
          }
        }

        .plus {
          margin-left: -16px;
          margin-top: -34px;
          position: absolute;
          font-size: 60px;
          color: green;
        }

        //.plus:hover {
        //  color: #01d501;
        //}
      }

      .add-button:hover {
        //border: 6px solid #01d501;
        background-color: #4d4d4d;
      }
    }

    // специальный класс для скрытия нужных блоков
    .hidden {
      display: none;
    }
  }
}