// нормализация стилей
*, *::before, *::after {
  box-sizing: border-box;
}

// стили для input
.table-name_input {
  padding-left: 8px;
  //font-family: inherit;
  color: #212529;
  background-color: #e0dfdf;
  background-clip: padding-box;
  border: 1px solid black;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

body {
  background-color: darkslategray;

  .container {
    width: 700px;
    margin: auto;
    display: block;
    //height: 500px;
    background-color: gray;

    .work-with-sqlite {
      height: 100px;
      background-color: chocolate;

      .panel-create-table {
        height: 50px;
        background-color: forestgreen;
        border: 3px solid black;
      }

      .panel-delete-table {
        height: 50px;
        background-color: #3a3afd;
        border: 3px solid black;
      }
    }

    .shopping-panel {
      //height: 100px;
      background-color: chocolate;

      .shopping-input-panel {
        //height: 50px;
        background-color: #c90303;
        display: inline-block;
        border: 3px solid black;

        .buy-list-form {
          margin: 10px;
        }
      }

      .income-input-panel {
        background-color: green;
        display: inline-block;
        border: 3px solid black;

        .buy-list-form {
          margin: 10px;
        }
      }
    }

    .statistics-panel {
      background-color: orangered;
      //float: none;

      .amount-per-month-output {
        //height: 400px;
        border: 3px solid black;

        .statistics-per-month-form {
          margin: 10px;
        }

        //панель аккордеон
        .accordion-body {

          .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            //border: none;
            border: 1px solid black;
            outline: none;
            transition: 0.4s;

            &:after {
              content: '\02795';
              font-size: 13px;
              color: #777;
              float: right;
              margin-left: 5px;
            }

            &:hover {
              background-color: #ccc;
            }
          }

          .active {
            background-color: #ccc;

            &:after {
              content: "\2796";
            }
          }

          .panel {
            padding: 0 18px;
            background-color: white;
            display: none;
            overflow: hidden;
          }
        }
      }
    }
  }
}